
body{
	font-family: 'Didact Gothic', sans-serif;
}

#btn {
	height: 100px;
	background-color: #bfdedc;
	text-align: center;
}
#btn p {
	padding: 40px;
	font-size: 20px;
}

.container {
	margin: 0px auto;
	width: 60%;
	text-align: center;
}